@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

/* *** COLOURS *** */
$primary: #A2474D;
$primaryRGB: rgb(245, 166, 35);
$secondary: #E2A36A;
$text: #292929;

/***** MIXINS ******/
@mixin pseudo($display: block,
$pos: absolute,
$content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin background($background-position: center center,
$background-repeat: no-repeat,
$background-size: cover) {
  background-position: $background-position;
  background-repeat: $background-repeat;
  background-size: $background-size;
}

@mixin responsive-ratio($x,$y,$pseudo: false) {
  $padding: unquote(($y / $x) * 100 + '%');

  @if $pseudo {
    &:before {
      @include pseudo($pos: relative);
      width: 100%;
      padding-top: $padding;
    }
  }

  @else {
    padding-top: $padding;
  }
}

/* *** GENERAL STYLES *** */
html { 
    font-size: 16px;
    overflow-x: hidden !important;
}
body {
    overflow-x: hidden !important;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.4rem;
    color: $text;
}
[v-cloak] {
    display: none;
}
a {
    color: inherit;
    transition: color 0.3s ease;
    &:hover {
        color: $primary;
        text-decoration: none;
    }
}
hr{
   max-width: 100%;
   border-top: 2px solid #eee;
}
#app {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.page-content {
    v-webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
.main_container {
   width: 940px;
   margin-left: auto;
   margin-right: auto;
}
.no_scroll {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.hidden_now {
   display: none;
}
.position_relative {
   position: relative;
}
.center {
    text-align: center;
}
.caps {
    text-transform: uppercase;
}
.margin_20 {
    margin-bottom: 20px;
}
.margin_40 {
    margin-bottom: 40px;
}
.open_menu{
    display:none;
}
.accessibility {
    display: none;
}
.visible_phone {
    display: none;
}
.img_max {
    max-width: 100%;
}

/* *** HIDE FOR SCREEN READERS *** */
.visibilityhidden {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}

/* *** LOADING *** */
.loading-container {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    .vue-simple-spinner {
        border-color: rgb(0, 0, 0) rgb(182, 184, 186) rgb(182, 184, 186) !important;
    }
    .vue-simple-spinner-text {
        margin-top: 24px !important;
        color: $text !important;
        text-transform: uppercase;
    }
}

/* *** HEADER *** */
.header {
   margin-top: 13px;
   margin-bottom: 13px;
   min-height: 90px;
}
.logo_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; 
}
.site_logo {
    width: 140px;
    img {
        max-width: 100%;
    }
}
#menu-icon {
    display: none;
}
.header_social_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.header_social {
    margin-bottom: 28px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    .social_icon {
        a {
            margin-right: 5px;
            margin-left: 5px;
            display: block;
            float: left;
        }
        a:last-child {
            margin-right: 0;
        }
        div {
            width: 30px;
            height: 30px;
            position: relative;
            border: 1px solid $secondary;
            border-radius: 50%;
            transition: color 0.3s ease;
        }
        .fab {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.125rem;
            line-height: normal;
            color: $secondary;
            transition: color 0.3s ease;
        }
    }
    .social_icon:hover {
        div {
            border: 1px solid $primary;
            background: $primary;    
        }
        .fab {
            color: #FFF;    
        }
    }
}
#primary_nav {
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
}
#primary_nav ul {
    margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
}
#primary_nav ul .menu_item {
    margin: 0;
	padding: 5px 16px;
    min-width: 108px;
    display: inline-block;
	position: relative;
    text-align: center;
    text-transform: uppercase;
}
#primary_nav ul .menu_item:hover {
	background: rgba(0,0,0,0.8);
	color: #FFF;
	> a {
	    color: #FFF;
	}
}
#primary_nav ul ul {
	padding: 0;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: rgba(0,0,0,0.8);
	text-transform: none;
}
#primary_nav ul ul .dropdown_item {
    padding: 5px 10px;
    min-width: 108px;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	&:hover {
	    color: $primary;
	    text-decoration: underline;
	}
}
#primary_nav ul .menu_item:hover > ul {
	display: block;
	z-index: 99;
}
/* *** FOOTER *** */
footer {
    margin-top: 40px;
    background: #F2F2F2;
    a:hover {
        color: #FFF;
        text-decoration: underline;
    }
    .footer_heading {
        margin: 0;
        margin-bottom: 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 0.75rem;
        letter-spacing: 0.5px;
        color: $text;;
    }
}
.footer_menu {
    padding: 20px 0;
    .col-md-4 {
        min-height: 208px;
    }
    .footer_hours {
        .clock_icon {
            margin-right: 20px;
            max-width: 40px;
            float: left;
        }    
        .footer_hours_container {
            display: inline-block;
        }
    }
    .footer_newsletter {
        border-right: 1px solid #979797;
        border-left: 1px solid #979797;    
        .newsletter_control {
            margin-bottom: 15px;
            padding: 4px 10px;
            width: 200px;
            float: left;
            border: 1px solid #CCCCCC;
            border-right: 0;
            border-radius: 4px 0px 0px 4px;
            font-size: 0.875rem;
            color: #999;
        }
        .newsletter_btn {
            margin-bottom: 15px;
            width: 100%;
            border: 0px solid #CCC;
            background: $primary;
            color: #FFF;
            &:before {
                width: 60px;
            }
            &:hover {
                color: #FFF;
            }
        }
        .newsletter_label {
            font-size: 0.875rem;
            letter-spacing: 0px;
            color: #333;
        }
    }
    .footer_insta {
        .insta_view_more {
            font-family: 'Roboto', sans-serif;
            font-size: 0.75rem;
            color: $text;;
            letter-spacing: 0.5px;
        }  
        .insta-feed-background {
            @include responsive-ratio(1, 1);
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .insta-feed-image {
            margin: 2.5px;
            width: calc(25% - 5px);
            display: block;
            float: left;
            img {
                max-width: 100%;
            }
        }
    }
}
.footer_privacy {
    padding: 15px 0;
    background: $primary;
    color: #FFF;
    .col-md-6:last-child .footer_text {
        text-align: right;
    }
    .footer_text {
        margin-bottom: 0;
        font-family: 'Roboto Slab', serif;
        font-size: 0.6875rem;
        line-height: 16px;
        color: #FFF;
        a {
            color: #FFF;
            &:hover {
                color: #FFF;
            }
        }
    }
    .footer_desc {
        margin: 0;
        padding: 5px 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 12px;
        a {
            color: #FFF;
        }
    }
}

/* *** HOME *** */
.home_banner_container {
    position: relative;
    .banner_image {
        margin-bottom: 40px;
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        background-color: #fff;
    }
    .slick-dots {
        margin: 0;
        padding: 0;
        display: block;
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0;
        line-height: 0;
        cursor: pointer;
        z-index: 99;
        li {
            padding: 0 5px;
            display: inline-block;
            button {
                margin: 0;
                padding: 0;
                width: 16px;
                height: 16px;
                border: 2px solid #FFF;
                border-radius: 20px;
                background-color: transparent;
                font-size: 0;
            }
        }
        .slick-active button {
            background-color: #000;
        }
    }
}
.feature_item {
    img {
        max-width: 100%
    }
}

/* *** INSIDE PAGES *** */
.details_row {
    margin-left: -50px;
    margin-right: -50px;
}
.details_col_3 {
    width: 320px;
    float: left;
    padding-left: 50px;
    padding-right: 50px;
}
.details_col_9 {
    width: calc(100% - 320px);
    float: left;
    padding-left: 50px;
    padding-right: 50px;
    border-left: 1px solid #D8D8D8;
}
.inside_header_background {
    margin-bottom: 40px;
    height: 148px;
    background-image: url(//codecloud.cdn.speedyrails.net/sites/5afdda1b6e6f643692370000/image/png/1517944999000/capri_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    h2 {
        margin: 0;
        padding-top: 82px;
        font-family: 'Roboto Slab', sans-serif;
        font-size: 2.5rem;
        color: #FFF;
        text-shadow: -1px 2px 4px rgba(0,0,0,0.5);
    }
}
.leasing_photo[lazy=loading]{
    margin: 0 auto;
    background-color: #e8e8e8;
    border: 1px solid #CBCDCE;
    position: relative;
    &:after {
        content: '\f017';
        font-family: FontAwesome;
        font-size: 2.75rem;
        font-weight: normal;
        font-style: normal;
        color: #CBCDCE; 
        position: absolute;
        top: 50%;
        left: 50%;
    	-moz-transform: translate(0%, 0%);
    	-webkit-transform: translate(0%, 0%);
    	-ms-transform: translate(0%, 0%);
    	transform: translate(0%, 0%);
    }
}
.social_share {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    p {
        margin: 0;
        text-transform: uppercase;
    }
    .fab {
        padding-left: 10px;
        font-size: 25px;
        color: $secondary;
        transition: color 0.3s ease;
        &:hover {
            color: $primary;
            cursor: pointer;
        }
    }
}
.animated_btn {
    padding: 7.5px 0;
    min-width: 200px;
    display: block;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
    background: $primary;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    color: #FFF;
    text-align: center;
    &:before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 100%;
        margin: -15px 0 0 1px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: $secondary;
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-transform: scale3d(1, 2, 1);
        transform: scale3d(1, 2, 1);
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1);
        transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1);
    }
}
.animated_btn:hover {
    color: #FFF;
    text-decoration: none;
    &:before {
        -webkit-transform: scale3d(9, 9, 1);
        transform: scale3d(9, 9, 1);
    }
}
.page_content {
    margin: 20px 0;
}
.inside_page_header {
    margin-bottom: 20px;
    padding: 8px 20px;
    background: $primary;
    font-family: 'Roboto Slab', serif;
    font-size: 1.375rem;
    color: #FFF;
}
.inside_page_title {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.375rem;
    line-height: 1.375rem;
    color: $primary;
}
.inside_page_toggle {
    header {
        margin: 0;
        min-height: auto;
    } 
    button {
        margin-bottom: 20px;
        padding: 4px 20px;
        height: 38px;
        border-radius: 0;
        background: $primary;
        font-family: 'Roboto Slab', serif;
        font-size: 1.375rem;
        line-height: normal;
        color: #FFF;
        text-align: left;
        .fa {
            float: right;
            font-size: 1.125rem;
            line-height: 1.875rem;
        }
        &:hover, &:focus {
            color: #FFF;    
        }
    }
    .card-body {
        img {
            max-width: 100%;
            border: 1px solid #f5f5f5;
        }
    }
}
.inside_page_link {
    margin-bottom: 20px;  
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    color: $text;
}
.read_more {
    display: inline-block;
    font-size: 1.125rem;
    line-height: 1.875rem;
}

.form-control-feedback {
    padding-right: 15px;
    width: 100%;
    top: 0;
    right: 0;
    font-size: 0.85rem;
    line-height: normal;
    text-align: right;
}
.alert {
    margin: 20px 15px 0 15px;
}

/* *** MAP *** */
.store_list_container {
    max-height: 670px;
    overflow-y: scroll;
    border: 1px solid #d8d8d8;
    .store_heading {
        margin: 0;
        padding: 5px 10px;
        background: rgba(162, 71, 77, .8);
        color: #FFF;
    }
    .store_name {
        margin: 0;
        padding: 5px 10px;
        font-size: 1.125rem;
        line-height: 1.5rem;
        transition: all 0.3s ease;
        &:hover {
            background: $primary;
            color: #FFF;
            cursor: pointer;
        }
    }
}
.mapplic-element {
    border: 1px solid #d8d8d8;
}
.mapplic-zoom-buttons {
    margin: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: auto !important;
    left: auto;
    border: 1px solid #000;
} 
.mapplic-popup-link {
    padding: 6px 6px 3px 6px;
    float: left !important;
    background-color: $primary;
    font-size: 1rem;
    line-height: 1rem;
    color: #FFF !important;
}
.search-component {
    .control {
        margin: 0;
        width: 100%;
    }
    .options-list {
        top: 45px;
        z-index: 99;
        li {
            transition: all 0.3s ease;
        }
        li.highlighted {
            background: $primary;
            color: #FFF;
        }
        p {
            margin: 0;
        }
    }
    #searchComponentInput {
        padding: 5px;
        width: 100%;
        border: 1px solid #d8d8d8;
    }
    .fa.fa-angle-down {
        display: none;
    }
}
#store-search-icon {
    position: absolute;
    top: 9px;
    right: 9px;
}

/* *** PAGES *** */
.page_title {
    line-height: 33px;
    text-transform: uppercase;
}
.page_body {
    font-size: 1.125rem !important;
    line-height: 1.875rem !important;
    h2 {
        margin-top: 0;
        margin-bottom: 20px;
        padding: 8px 20px;
        background: $primary;
        font-family: 'Roboto Slab', serif;
        font-size: 1.375rem;
        color: #FFF;
    }
    p, span {
        font-size: 1.125rem !important;
        line-height: 1.875rem !important;
    }
    img {
        max-width: 100%;
    }
}


/* *** PROMOTIONS *** */
.promo_name {
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 1.375rem;
    line-height: 1.375rem;
    color: $primary;
}
.promo_store_name {
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    line-height: 1.875rem;
}
.promo_date {
    margin: 0;
    font-size: 1.125rem;
    line-height: 1.875rem;
    color: $primary;
}
.promo_desc {
    font-size: 1.125rem;
    line-height: 1.875rem;
}
        
/* *** STORES *** */
.store_nav {
    margin-bottom: 20px;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 2px solid #959595;
    text-align: center;
    .store_nav_link {
        position: relative;
        display: inline-block;
        font-size: 18px;
        color: $text;
        text-decoration: none;
        text-transform: uppercase;
        &::after {
            content: " ";
            background: transparent;
            display: block;
            height: 5px;
            width: 100%;
            min-width: 130px;
            margin: 0 auto;
            position: absolute;
            left: 50%;
            -ms-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            bottom: -21px;
        }
    }
    .store_nav_link:hover {
        &::after {
            background: $primary;
        }
    }
    .active_store_nav {
        &::after {
            background: $primary;
        }
    }
}
.v-select {
    margin-bottom: 10px;
    .open-indicator {
        right: 0;
    }
    li>a {
        white-space: initial !important;
    }
}
#selectByCat.v-select {
    .dropdown-toggle {
        border: none;    
    }
    .selected-tag {
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
    .open-indicator:before {
        border-color: $text;;
    }
    .dropdown-menu {
        padding: 0;
        border-top: #eee;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        li {
            a {
                white-space: initial;
            }
        }
    }
    .dropdown-menu > .highlight > a {
        background: $primary;
    }
}

.store_nav .col-md-3:nth-child(2) {
    border-right: 1px solid #979797;
}
.stores_container {
    max-height: 2400px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.store_col_count {
    column-count: 2;
}
.store_initial_container {
    margin: 20px 0;
    padding: 10px 20px;
    background: $primary;
    font-size: 1.375rem;
    text-transform: uppercase;
    color: #FFF;
}
.store_list_name {
    margin: 0 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    line-height: 2.375rem;
}
.new_store {
    margin-left: 10px;
    padding: 12px 0;
    font-size: 13px;
    line-height: 13px;
    color: #848484;
    .fas {
        font-size: 1rem;
    }
}
.coming_soon_store {
    margin-left: 10px;
    padding: 12px 0;
    font-size: 13px;
    line-height: 13px;
    color: #848484;
    .far {
        font-size: 1rem;
        vertical-align: text-top;
    }
}
.promo_exist {
    margin-left: 10px;
    padding: 12px 0;
    font-size: 13px;
    line-height: 13px;
    color: #848484;
    .fas {
        font-size: 1rem;
        vertical-align: text-top;
    }
}

/* *** STORE DETAILS *** */
.store_details_image {
    margin-bottom: 20px; 
    max-width: 100%;
    border: 1px solid #D8D8D8;
}
.store_details_phone {
    margin-bottom: 20px;  
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    color: $text;
}
.store_details_hours_list {
    margin-bottom: 20px;
    padding: 0;
    list-style-type: none;
    font-size: 1.125rem;
    line-height: 1.875rem;
    .today {
        font-family: 'Roboto', sans-serif;
        color: $primary;
    }
    .hours_list_day {
        padding-right: 50px;
        min-width: 145px;
        display: inline-block;
    }
}
.store_details_desc {
    font-size: 1.125rem !important;
    line-height: 1.875rem !important;
}
@media(max-width: 1440px){
   .home_banner_container .banner_image {
        height: 330px; 
   }
}
@media (max-width: 1024px) {
    .home_banner_container .banner_image {
        height: 240px;
    }
}
@media(max-width: 768px){
    .visible_phone {
        display: block;
    }
    .hidden_phone {
        display: none;
    }
    .mobile_padding {
        padding-left: 20px;
        padding-right: 20px;
    }
    .main_container {
        padding: 0 20px;
        width: 100%;
    }
    /* *** MOBILE MENU *** */
    .logo_container { 
        margin-left: -20px;
        margin-right: -20px;
        display: block;
    }
    .site_logo {
        width: 200px;
    }
    #primary_nav {
        display: none;
    }
    .nav_container {
        margin-left: -15px;
        margin-right: -15px;
        width: 100vw;
        position: relative;
        z-index: 999;
    }
    #menu-icon {
        margin: 0;
        width: 27px;
        height: 24px;
        position: absolute;
        top: 30px;
        right: 30px;
        display: block;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        z-index: 999;
        transition: all 0.3s ease;
        span {
            display: block;
            position: absolute;
            height: 4px;
            width: 100%;
            background: $primary;
            border-radius: 9px;
            opacity: 1;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
        }
        span:nth-child(1) {
            top: 0px;
        }
        span:nth-child(2),
        span:nth-child(3) {
            top: 8px;
        }
        span:nth-child(4) {
            top: 16px;
        }
    }
    #menu-icon.open {
        span:nth-child(1) {
            top: 18px;
            width: 0%;
            left: 50%;
        }
        span:nth-child(2) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        span:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        span:nth-child(4) {
            top: 18px;
            width: 0%;
            left: 50%;
        }
    }
    #mobile_nav {
        width: 100vw;
        height: calc(100vh - 90px);
        position: absolute;
        top: 16px;
        left: 0;
        right: 0;
        overflow: scroll;
        background: #FFF;
        ul {
            margin: 20px 0 0 0;
            padding: 0;
        }
    }
    #mobile_nav ul .menu_item {
        padding: 12px 0;
        display: block;
        font-size: 1.25rem;
        text-align: center;
        .btn-block {
            padding: 0;
            display: block;
            width: 100%;
            border-radius: 0;
            border: none;
            background: transparent;
            font-size: 1.25rem;
            text-transform: uppercase;
            color: $text;
        }
        .btn:active {
            box-shadow: none;
        }
        .card-text {
            margin: 0;
            padding: 10px 0;
            text-align: center;
            a {
                text-transform: none;
            }
        }
        a {
            padding: 0;
            text-decoration: none;
            text-transform: uppercase;
            color: $text;
        }
    }
    .mobile_nav_content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        .header_social {
            margin: 30px 0;
            .social_icon {
                div {
                    border: 1px solid #000;    
                }
                .fab {
                    color: $primary;
                }
            }
        }
        .mobile_property_address.center {
            text-align: center;
        }
    }
    .details_row {
        margin: 0;
        margin-bottom: 25px;
    }
    .details_col_3 {
        margin-bottom: 25px;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    .details_col_9 {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        border: 0;
    }
    footer {
        .footer_menu {
            margin-top: 20px;
            .footer_newsletter {
                border-right: none;
            }
            .footer_insta {
                margin: 40px 0;
            }
        }
    }
    .home_banner_container .banner_image {
        height: 180px;
    }
    .inside_header_background {
        position: relative;
        .main_container {
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        h2 {
            padding-top: 0;
        }
    }
    .inside_page_toggle .card-body img {
        margin-bottom: 20px;
    }
    .legend {
        display: block;
        text-align: left;
    }
    .store_nav {
        display: block;
        .store_nav_link {
            margin-bottom: 20px;
            padding: 10px 20px;
            width: 100%;
            background: $primary;
            color: #FFF;
            &:hover::after {
                background: none;
            }
        }
    }
    .store_nav .col-md-3:nth-child(2) {
        border-right: none;
    }
    #selectByCat {
        border: 1px solid #d8d8d8;
    }
}

@media(max-width: 425px){
    footer {
        .footer_menu {
            .col-md-4 {
                min-height: auto;
            }
            .footer_hours {
                margin: 40px 0;
            }
            .footer_newsletter {
                border: none;
            }
        }
        .footer_text {
            text-align: center;
        }
        .footer_privacy .col-md-6:last-child {
            margin-top: 10px;
        }
        .footer_privacy .col-md-6:last-child .footer_text {
            text-align: center;
        }
    }
    .home_banner_container .banner_image {
        height: 200px;
    }
}

@media(max-width: 320px){
    .home_banner_container .banner_image {
        height: 170px;
    }
}